.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.no-display {
    display: none;
}

.spacer {
    margin-top: 12rem;
}

@include small-and-above {
    .spacer {
        margin-top: 0;
    }
}

@include medium-and-above {
    .spacer {
        margin-top: 45rem;
        position: relative;
    }
}
