@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("http://fonts.cdnfonts.com/css/century-gothic");

$primary-color: #fff348;
$secondary-color: #000000;
$home-font: "Dancing Script";
$default-font: "Century Gothic", sans-serif;
