@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@font-face {
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    //for github
    src: url("../images/font/GOTHIC.woff") format("woff");
    // src: url("/images/font/GOTHIC.woff");
}

$primary-color: #fff348;
$secondary-color: #000000;
$home-font: "Dancing Script";
$default-font: "GOTHIC", sans-serif;
