@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$primary-color: #fff348;
$secondary-color: #000000;
$home-font: "Dancing Script", "karla";
$default-font: "karla", "poppins";