.boxes {
  width: 100%;
  margin-inline: auto;
  margin-top: 1.5625rem;
  overflow-x: hidden;

  .box1,
  .box2,
  .box3 {
    display: grid;
    grid-auto-columns: minmax(0.9rem, 1fr);
    grid-auto-rows: minmax(0.9rem, 1fr);
    grid-auto-flow: column dense;
    gap: 1.3rem;
  }

  .box1 div,
  .box2 div,
  .box3 div {
    width: 0.9rem;
    height: auto;
    background: #fff;

    @include small-and-above {
      width: 1rem;
      height: 1rem;
    }
  }

  .box2 div,
  .box3 div {
    display: none;
  }

  @include small-and-above {
    margin-top: 4.375rem; //original 4.375rem
    display: flex;

    .box2 {
      margin-inline: 1.9rem;
    }

    .box1,
    .box2,
    .box3 {
      gap: 2.18rem;
    }
  }

  @include medium-and-above {
    width: 100%;
    margin-top: 4rem;

    .box1,
    .box2,
    .box3 {
      gap: 2.4rem;
    }

    .box2 {
      margin-inline: 2.3rem;
    }

    .box3 div {
      display: block;
    }
  }
}

@include small-and-above {
  .boxes {
    .box1 div,
    .box2 div {
      display: grid;
    }
  }
}
