.contact {
    margin-top: 0.6rem;

    .about-me {
        width: auto;
        height: auto;
        margin-left: 21px;
        margin-right: 21px;

        p {
            font-size: 0.9rem;
            line-height: 1.1rem;
            text-transform: capitalize;
        }
    }

    // * form content
    form {
        margin-top: 1.25rem;

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #fff348;
            border-radius: 4px;
            background: none;
            color: $primary-color;

            &:focus {
                outline-color: #ffffa0;
                outline-width: 1px;
                outline-style: solid;
            }
        }

        textarea {
            height: 110px;
            resize: vertical;
        }

        label {
            font-size: 0.9rem;
            padding: 18px auto 5px 21px;
        }

        .form-div {
            margin-bottom: 18px;
        }

        // button
        input[type="submit"] {
            width: 100%;
            border: 2px solid #fff348;
            border-radius: 4px;
            background: none;
            padding: 20px;
            color: $primary-color;
            font-size: 1rem;
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    .row {
        .links ul {
            display: block;
            margin-top: 1.5rem; //custom value

            li {
                margin-left: 20px;
                margin-bottom: 1.25rem;

                a {
                    @include flex();
                    img {
                        width: 25.78px;
                        height: 20.5px;
                    }

                    p {
                        margin-left: 1.25rem;
                        color: $primary-color;
                    }
                }
            }
        }
    }

    // maps
    #maps {
        width: 100%;
        height: 254px;
        margin-top: 1.5rem;
    }
}

@include small-and-above {
    .contact {
        margin-top: 1.875rem;

        .about-me {
            width: auto;
            height: auto;

            p {
                font-size: 0.9rem;
                line-height: 1.1rem;
                text-transform: capitalize;

                &:nth-child(even) {
                    line-height: 2rem;
                }
            }
        }

        form {
            margin-top: 1.25rem;

            textarea {
                height: 180px;
            }
        }

        .links ul {
            margin-top: 3.12rem;
            margin-bottom: 2rem;

            li {
                margin-left: 20px;
                margin-bottom: 1.25rem;

                a {
                    p {
                        margin-left: 0.9rem;
                        color: $primary-color;
                        font-size: 0.8rem;
                    }
                }
            }
        }

        // maps
        #maps {
            width: 100%;
            left: -0.9rem;
            margin-left: 1.5625rem;
        }
    }
}

@include medium-and-above {
    .contact {
        .about-me,
        form {
            margin-left: 3.75rem;
            margin-top: 2.0625rem;
        }

        .about-me {
            p {
                font-size: 0.9rem;
                padding-left: 0.9rem;
            }
        }

        form {
            position: relative;
            label {
                font-size: 0.9rem;
            }

            input[type="submit"] {
                width: 200px;
                position: absolute;
                right: 0;
                margin-right: 1rem;
                font-size: 0.9rem;
            }
        }

        .links {
            display: block;
            // float: right;
            // margin-right: 600px;
            margin-left: 3.125rem;
            margin-top: 5.375rem;
        }

        #maps {
            width: 100%;
            height: 400px;
            margin-top: 2.375rem;
        }
    }
}

@include extra-large {
    .contact {
        .about-me,
        form {
            margin-left: 18rem;
        }

        .links {
            margin-left: 18rem;
            margin-top: 10rem;
        }

        #maps {
            margin-left: 5rem;
        }
    }
}
