// header styles
.header {
  background-color: hsl(0 0% 0%) !important;

  .container-fluid {
    .collapse .navbar-nav .nav-link {
      color: $primary-color !important;
    }
  }
}

@include small-and-above {
  .header {
    height: 4.375rem;

    // hambuger icon
    .nav-toggle-label {
      display: none;
    }
  }
}
