.landing {
    
    .col {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        img {
            width: 230px;
            height: auto;
        }

        a {
            font-family: $home-font;
            font-size: 2.5rem;
            text-transform: capitalize;
            line-height: 3rem;
            margin-top: 1rem;;
       
        }

        @include small-and-above {
            img {
                width: 300px;
            }

            a {
                line-height: 2.5rem;
            }
        }
    }

}



