.logo {
    width: 228px;
    height: 83px;
}

@include small-and-above {
    .menu-logo {
        width: 116px;
        height: 42.55px;
    }

    .logo {
        width: 228px;
        height: 83px;
    }
}

@include medium-and-above {
    .menu-logo {
        width: 182px;
        height: 66px;
        margin-left: 5rem;
    }

    .logo {
        width: 404px;
        height: 147px;
    }
}

@include extra-large {
    .menu-logo {
        margin-left: 10rem;
    }
}
