.outer-wrapper {
    width: 502px;
    height: 330px; //just worked come back to this
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.69rem;
    -webkit-transform: rotate(-90deg) translateX(-502px);
    -ms-transform: rotate(-90deg) translateX(-502px);
    transform: rotate(-90deg) translateX(-502px);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    // potraits wrapper
    .wrapper {
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        grid-template-rows: minmax(1fr, auto);
        grid-auto-flow: row;
        grid-gap: 0.4rem;
        // overflow-x: scroll;
        // width: 3976px; //total width of the columns
        -webkit-transform: rotate(90deg) translateY(-502px);
        -ms-transform: rotate(90deg) translateY(-502px);
        transform: rotate(90deg) translateY(-502px);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;

        &::-webkit-scrollbar {
            display: none;
        }

        .media-item {
            width: 568px;
            height: 502px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }

        // food dimensions
        .media-item-food {
            width: 650px;
            height: 502px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

// small and above mobbiles
@include small-and-above {
    .outer-wrapper {
        width: 603px;
        height: 695px;
        margin-top: 5.125rem;
        margin-left: 1.4rem; //margin-left that just worked. come back to this
        -webkit-transform: rotate(-90deg) translateX(-603px);
        -ms-transform: rotate(-90deg) translateX(-603px);
        transform: rotate(-90deg) translateX(-603px);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        .wrapper {
            width: 705px;
            height: 650px;
            -webkit-transform: rotate(90deg) translateY(-603px);
            -ms-transform: rotate(90deg) translateY(-603px);
            transform: rotate(90deg) translateY(-603px);
            -webkit-transform-origin: top left;
            -ms-transform-origin: top left;
            transform-origin: top left;

            .media-item,
            .media-item-food {
                width: 695px;
                height: 603px;
            }
        }
    }
}

@include medium-and-above {
    .outer-wrapper {
        width: 540px;
        height: 1187px;
        // margin-left: 9.225rem;
        margin-left: 4.2rem;
        -webkit-transform: rotate(-90deg) translateX(-540px);
        -ms-transform: rotate(-90deg) translateX(-540px);
        transform: rotate(-90deg) translateX(-540px);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;

        .wrapper {
            width: 1187px;
            height: 506px;
            -webkit-transform: rotate(90deg) translateY(-540px);
            -ms-transform: rotate(90deg) translateY(-540px);
            transform: rotate(90deg) translateY(-540px);
            -webkit-transform-origin: top left;
            -ms-transform-origin: top left;
            transform-origin: top left;

            .media-item,
            .media-item-food {
                width: 639px; //original 855px
                // height: 506px;
                height: 540px;
            }
        }
    }
}

@include extra-large {
    .outer-wrapper {
        width: 600px;
        height: 1330px;
        margin-left: 17rem;
        -webkit-transform: rotate(-90deg) translateX(-600px);
        -ms-transform: rotate(-90deg) translateX(-600px);
        transform: rotate(-90deg) translateX(-600px);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;

        .wrapper {
            width: 1330px;
            height: 600px;
            -webkit-transform: rotate(90deg) translateY(-600px);
            -ms-transform: rotate(90deg) translateY(-600px);
            transform: rotate(90deg) translateY(-600px);
            -webkit-transform-origin: top left;
            -ms-transform-origin: top left;
            transform-origin: top left;

            .media-item,
            .media-item-food {
                width: 650px; //original 855px
                // height: 506px;
                height: 600px;
            }
        }
    }
}
