footer {
  margin-top: 1.65rem; //random number that worked(come back and revise)
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  font-size: 0.8rem;

  img {
    width: 15px;
    height: 15px;
  }
}
